<section>
  <div class="max-w-screen-2xl mx-auto flex items-center space-x-7 px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/addMeta">Meta Keywords</a>
    <a href="/admin/addPortfolio">Portfolio</a>
    <a href="/admin/AddTestimonial">Testimonial</a>
  </div>

  
  <div class="max-w-screen-2xl mx-auto items-center px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <table>
       
    </table>
  </div>
</section>