<!--Ios native Development section home -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9">
    <div class="flex flex-wrap justify-center items-center">
      <div class="w-full md:w-3/5 order-2 md:order-1 mt-5 md:mt-0">
        <h1>Leading iOS native Development Company</h1>
        <p class="py-2">We are an iOS development company, that creates secure and scalable iOS apps for clients. Our ios application developers put their utmost effort into the user experience to satisfy customers' needs.</p>        
        <!-- EXP Bar -->
        <%- include ("../../components/exp_bar.ejs") %>
        <div class="mt-7 md:pt-0">
          <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
            <span class="bleft anim group-hover:left-0"></span>
            get Start
            <span class="bright anim group-hover:-right-full"></span>
          </a>
        </div>
      </div>
      <div class="w-full md:w-2/5  order-1 md:order-2 ">
        <div class="pb-5 md:pb-0 md:pl-9">
          <img src="/assets/images/mobile-app-services/Ios-native-development/light/apples-developer.svg " alt="Apple's Developer" class="block mx-auto dark:hidden">
          <img src="/assets/images/mobile-app-services/Ios-native-development/dark/ios-development.svg" alt="IOS Development" class="hidden mx-auto dark:block">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- expert team section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-left font-pop">We are expert in <span class="text-scalelot-secondary font-jos">iOS native Development</span></h2>
    <div class="flex py-1.5 pt-10">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Our custom iOS app developer and software engineers seamlessly integrate various apple devices and perform tests if it is working on all user’s devices.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">They provide utmost support for iOS development to build making your business generate high revenue.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">We bring robust technology with the help of our iOS native developer to power your iOS software.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">We follow all <a href="/services/app-development" class="font-extrabold"> application development</a> guidelines for several iOS platforms.</p>
    </div>
  </div>
</section>
<!-- Development services section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-center font-pop pb-5 md:pb-10">iOS native Development Services</h2>
    <p class="text-center">With the help of our IOS native app development services, you witness sky-rocketing success and can increase huge revenues from your business. We help you make your business unique with the help of custom iPhone development solutions with regards to a specific design, and development for multiple diverse cases from video streaming, real-time analytics, geotagging, and more for various sectors.</p>
    <div class="w-full flex items-center justify-center space-x-7 md:hidden mt-3.5">
      <div class="navArrowPrevOS cursor-pointer" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">←</span>
      </div>
      <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
      <div class="navArrowNextOS cursor-pointer" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">→</span>
      </div>
    </div>
    <div class="ourServices_slider swiper">
      <div class="swiper-wrapper md:flex md:flex-wrap md:justify-center lg:py-10 py-5">
        <div class="swiper-slide h-auto w-full md:w-1/2 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-development text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">iOS App Development</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Source Coder Repository Versioning
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Bug detection and fixes
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Evaluating the end-user experience
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Security Enhancement
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Feature Enhancement
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  UI/UX Enhancement
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-1/2 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-migration text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">iOS App Migration</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Migrating applications to other platforms.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We help to replace older technologies with new ones.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We consider various types of porting for successful application migration.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-1/2 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-upgradation text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">iOS App Upgradation</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Performance Optimization
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Major and Minor application upgrades
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Improving existing functions of the application
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Enhancing application interface
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  App Upgradation to support new library versions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-1/2 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-support-and-maintenance text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">iOS App Maintenance and Support</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We provide customized maintenance and support plans.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Our iOS development services that make it easier to keep track of platform upgrades
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Performance Monitoring
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Technical Support
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-0 md:mt-7">
      <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
        <span class="bleft anim group-hover:left-0"></span>
        get Start
        <span class="bright anim group-hover:-right-full"></span>
      </a>
    </div>
  </div>
</section>
<!-- process-bar  -->
<section class="relative py-12 lg:py-16 xl:py-24 2xl:py-28">
  <%- include ("../../components/process_we_follow.ejs") %>
</section>
<!-- Why Choose scalelot section -->
<%- include ("../../components/why_choose.ejs") %>
<!-- contact us  -->
<%- include ("../../components/lets_talk.ejs") %>