<!--Banner Card Design section home -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9">
    <div class="flex flex-wrap justify-center items-center">
      <div class="w-full md:w-3/5 order-2 md:order-1 mt-5 md:mt-0">
        <h1>Branding Design</h1>
        <p class="py-2">Brand design is one of the crucial parts of graphic design work. We do unique branding for clients and help them to achieve business goals.</p>        
        <!-- EXP Bar -->
        <%# include src/views %>
        <div class="mt-7 md:pt-0">
          <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
            <span class="bleft anim group-hover:left-0"></span>
            get Start
            <span class="bright anim group-hover:-right-full"></span>
          </a>
        </div>
      </div>
      <div class="w-full md:w-2/5  order-1 md:order-2 ">
        <div class="pb-5 md:pb-0 md:pl-9">
          <img src="/assets/images/graphic-design/branding-design/light/branding-company.svg" alt="Branding Company" class="block mx-auto dark:hidden">
          <img src="/assets/images/graphic-design/branding-design/dark/branding-design.svg" alt="Branding Design" class="hidden mx-auto dark:block">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- expert team section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-left font-pop">We are expert in <span class="text-scalelot-secondary font-jos">Branding Design</span></h2>
    <div class="flex py-1.5 pt-10">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">We offer the best branding design for multiple top brands and businesses.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Whether it is your brand design or company logo or any custom design for your <a href="/services/web-development" class="font-extrabold">website</a> , our graphic designers are experts in creating such incredible designs.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">The uniqueness of branding design helps to reach more people to know your business.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Use these branding designs logo, banner, social media creatives for social media marketing for better reach of your brand.</p>
    </div>
  </div>
</section>
<!-- Development services section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-center font-pop pb-5 md:pb-10">Branding Design Services</h2>
    <div class="w-full mt-3.5 md:mt-0 flex items-center justify-center space-x-7 md:hidden">
      <div class="navArrowPrevOS cursor-pointer" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">←</span>
      </div>
      <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
      <div class="navArrowNextOS cursor-pointer" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">→</span>
      </div>
    </div>
    <div class="ourServices_slider swiper">
      <div class="swiper-wrapper md:flex md:flex-wrap md:justify-cente lg:py-10 py-5">
        <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-typographic-branding text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Typographic Branding</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create an amazing custom typography t-shirt design
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create typography sticker designs
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Typography keychain design
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-color-branding text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Color Branding</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Choosing best brand colors
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Color Palettes for Branding 
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Colors in Corporate Branding
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Color Design and Psychology for Branding
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-stationery-branding text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Stationery Branding</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Pens Branding
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Letterheads and Envelopes Branding
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Notepads Branding
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Calendars Branding
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Postcards Branding
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-visiting-cards text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Visiting Cards</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Standard  Visiting Cards
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Classic  Visiting Cards
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Rounded Corner Visiting Cards
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Premium White Visiting Cards
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Transparent Visiting Cards
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-brochure-design text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Brochure Design</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Gate-Fold Brochure Design
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Bi-Fold Brochure Design
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Tri-Fold Brochure Design
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Z-Fold Brochure Design
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-development text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Sticker Branding</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Spooky stickers
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Get serious stickers
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Go retro and Be cool stickers
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Get a classic look stickers
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Funny characters stickers
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Minimalistic stickers
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-0 md:mt-7">
      <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
        <span class="bleft anim group-hover:left-0"></span>
        get Start
        <span class="bright anim group-hover:-right-full"></span>
      </a>
    </div>
  </div>
</section>
<!-- process-bar  -->
<section class="relative py-12 lg:py-16 xl:py-24 2xl:py-28">
  <%# include src/views %>
</section>
<!-- Why Choose scalelot section -->
<%# include src/views %>
<!-- contact us  -->
<%# include src/views %>