<!--Nodejs Development section home -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9">
    <div class="flex flex-wrap justify-center items-center">
      <div class="w-full md:w-3/5 order-2 md:order-1 mt-5 md:mt-0">
        <h1>Nodejs Development</h1>
        <p class="py-2">We provide node js development services throughout the globe. We have skilled knowledgeable node.js developers who know how Node.js functions. Contact for hiring node js developer.  Our flexible hiring model helps us become the preferred choice for hiring angular developers. We follow agile protocol and offer you angular of high functionalities.</p>        
        <!-- EXP Bar -->
        <%# include src/views %>
        <div class="mt-7 md:pt-0">
          <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
            <span class="bleft anim group-hover:left-0"></span>
            get Start
            <span class="bright anim group-hover:-right-full"></span>
          </a>
        </div>
      </div>
      <div class="w-full md:w-2/5  order-1 md:order-2 ">
        <div class="pb-5 md:pb-0 md:pl-9">
          <img src="/assets/images/web-services/nodejs-development/light/nodejs-development-company.svg" alt="NodeJS Development Company" class="block mx-auto dark:hidden">
          <img src="/assets/images/web-services/nodejs-development/dark/nodejs-development-company.svg"alt="NodeJS Development Company" class="hidden mx-auto dark:block">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- expert team section -->
<section>
  <div class="max-w-screen-xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-left font-pop">We are expert in <span class="text-scalelot-secondary font-jos">Nodejs Development</span></h2>
    <div class="flex py-1.5 pt-10">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">We use NodeJS for traditional <a href="/services/web-development" class="font-extrabold"> website design </a>and backend node js API.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Node.js is much faster because it is single-threaded, so runs quicker and gives better support.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Works in open source, cross-functional platform, run time environment.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Execute Javascript outside the browser. It's a server-side scripting language.</p>
    </div>
  </div>
</section>
<!-- Development services section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-center font-pop pb-5 md:pb-10">Nodejs Development Services</h2>
    <p class="text-center capitalize">Our Node Js developers win clients’ hearts by node js web application development, mobile application development, and customization. They ensure functionality and appeal through their rich experience in this field. They deliver native mobile apps for all platforms. Node js web development includes Node js backend development, UX/UI development, and Node js plugin development also. hiring a node js developer is the right idea to make back-end services faster than ever.</p>
    <div class="w-full mt-3.5 md:mt-0 flex items-center justify-center space-x-7 md:hidden">
      <div class="navArrowPrevOS cursor-pointer" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">←</span>
      </div>
      <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
      <div class="navArrowNextOS cursor-pointer" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">→</span>
      </div>
    </div>
    <div class="ourServices_slider swiper">
      <div class="swiper-wrapper md:flex md:flex-wrap md:justify-cente lg:py-10 py-5">
        <div class="swiper-slide w-full md:w-1/2 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-development text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">NodeJS Development</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Custom NodeJS App Development
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  API Development and Integration
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Custom UI/UX in NodeJS
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  High-traffic website
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Dynamic Web Apps
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide w-full md:w-1/2 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-migration text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">NodeJS Migration</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Migrating applications to other platforms.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We help to replace older technologies with new ones.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We consider various types of porting for successful application migration.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide w-full md:w-1/2 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-upgradation text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">NodeJS Upgradation</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  NodeJS Upgrade to Latest Version
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Performance Optimization
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Major and Minor application upgrades
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Improving existing functions of the application
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Enhancing application interface
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  App Upgradation to support new library versions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide w-full md:w-1/2 md:p-3 my-3 md:my-0 h-auto">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-support-and-maintenance text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">NodeJS Support and Maintenance</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We provide customized maintenance and support plans.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Our NodeJS development services that make it easier to keep track of platform upgrades
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Performance Monitoring
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Technical Support
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-0 md:mt-7">
      <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
        <span class="bleft anim group-hover:left-0"></span>
        get Start
        <span class="bright anim group-hover:-right-full"></span>
      </a>
    </div>
  </div>
</section>
<!-- process-bar  -->
<section class="relative py-12 lg:py-16 xl:py-24 2xl:py-28">
  <%# include src/views %>
</section>
<!-- Why Choose scalelot section -->
<%# include src/views %>
<!-- contact us  -->
<%# include src/views %>