<!--Mobile Application Design section home -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9">
    <div class="flex flex-wrap justify-center items-center">
      <div class="w-full md:w-3/5 order-2 md:order-1 mt-5 md:mt-0">
        <h1>Mobile Application Design</h1>
        <p class="py-2">Scalelot Technologies is an eminent mobile application design company, from the last couple of years our experienced mobile app developers created several mobile apps on varied platforms. </p>        
        <!-- EXP Bar -->
        <%# include src/views %>
        <div class="mt-7 md:pt-0">
          <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
            <span class="bleft anim group-hover:left-0"></span>
            get Start
            <span class="bright anim group-hover:-right-full"></span>
          </a>
        </div>
      </div>
      <div class="w-full md:w-2/5  order-1 md:order-2 ">
        <div class="pb-5 md:pb-0 md:pl-9">
          <img src="/assets/images/UIUX-design-services/mobile-application-design/light/app-designing.svg " alt="App Designing" class="block mx-auto dark:hidden">
          <img src="/assets/images/UIUX-design-services/mobile-application-design/dark/mobile-app-design.svg" alt="Mobile App Design" class="hidden mx-auto dark:block">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- expert team section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-left font-pop">We are expert in <span class="text-scalelot-secondary font-jos">Mobile Application Design</span></h2>
    <div class="flex py-1.5 pt-10">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Our dynamic <a href="/services/app-development" class="font-extrabold">mobile app </a> developers are highly goal-oriented, skillful, and knowledgeable in mobile application design.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Their sole objective is to make the customer happy, maintain deadlines, and do their job systematically.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Their objective is to simplify coding and make the user experience excellent and result-oriented.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Our developer hiring models is simple and depend on the requirements of the projects. So, we become the preferred choice of vendors throughout the globe.</p>
    </div>
  </div>
</section>
<!-- Development services section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-center font-pop pb-5 md:pb-10">Mobile Application Design Services</h2>
    <div class="w-full flex items-center justify-center space-x-7 md:hidden mt-3.5">
      <div class="navArrowPrevOS cursor-pointer" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">←</span>
      </div>
      <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
      <div class="navArrowNextOS cursor-pointer" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">→</span>
      </div>
    </div>
    <div class="ourServices_slider swiper">
      <div class="swiper-wrapper md:flex md:flex-wrap md:justify-center lg:py-10 py-5">
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-app-user-flow-design text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Mobile App User Flow Design</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create the best route that users follow in the app design.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Sketch out user flow outlines for different user groups 
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Use user flow tools to create, share and test app flows
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create interactive app user flow diagrams that tell a story.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-app-wireframe-design text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Mobile App Wireframe Design</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Start by mapping out a target user flow
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Sketch out the core part of the user flow
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Start wireframing by setting a mobile frame
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Connect the pages together to create a flow
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-app-prototype-design text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Mobile App Prototype Design</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Identify key functionality requirements
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create sketches of the primary app screens
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Turn wireframes into a prototype
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Translate wireframes into final app designs
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-1/2 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-app-visual-design text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Mobile App Visual Design</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Look at an attractive final design
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We create a detailed description of the design of the mobile app equipment.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Project beyond feasibility level design.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full xl:w-1/2 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-android-app-redesign text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Mobile App Redesign</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Choosing the best app-related colors.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We create a user-friendly mobile app redesign.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Select the priority functions of the app redesign.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Adapt to changes in the app design guidelines.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-0 md:mt-7">
      <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
        <span class="bleft anim group-hover:left-0"></span>
        get Start
        <span class="bright anim group-hover:-right-full"></span>
      </a>
    </div>
  </div>
</section>
<!-- process-bar  -->
<section class="relative py-12 lg:py-16 xl:py-24 2xl:py-28">
  <%# include src/views %>
</section>
<!-- Why Choose scalelot section -->
<%# include src/views %>
<!-- contact us  -->
<%# include src/views %>